* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

.cell {
  border: 2px solid #CCC;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 22pt;
  height: 42px;
  margin: 2.5px;
  text-align: center;
  width: 42px;
}

.incorrect-cell {
  background-color: #555;
  color: white;
  border: 0;
}

.correct-cell {
  background-color: rgb(77, 161, 77);
  color: white;
  border: 0;
}

.misplaced-cell {
  background-color: rgb(185, 175, 77);
  color: white;
  border: 0;
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 25pt;
  /* display:flex; */
  /* justify-content: space-between;  */
  /* text-align: center; */
  letter-spacing: 0.2rem;
  /* flex: 1.5; */
  /* flex-grow: 1; */
  /* align-self: center; */
}

.grid-panel {
  /* flex-shrink: 15; */
  flex-grow: 17;
  /* align-self: center; */
  overflow: hidden;
  display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-grow: 1; */
}

.keyboard {
  /* display:flex; */
  /* flex-shrink: 2; */
  flex-grow: 1;
  /* align-self: flex-end; */
}
.container-general {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  /* align-items: stretch; */
}
.key {
  background-color: #DDD;
  border-radius: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  height: 60px;
  margin: 2.5px;
  /* padding: 15px; */
  padding: 20px 0px 0px 0px;
  text-align: center;
  width: 30px;
  /* vertical-align: middle; */
  /* flex: 1;
  display: flex; */
}

.one-and-a-half {
  /* flex: 1.5; */
  font-size: 12px;
  width: 50px;
}

.line {
  display: flex;
}